{% extends 'base.html.twig' %}
{% block notif  %}
    <li class="dropdown"><a href="#" data-toggle="dropdown" role="button" aria-expanded="false"
                            class="dropdown-toggle"><span class="icon s7-bell"></span><span
                    class="indicator"></span></a>
        {% for noti in notification %}
            <ul class="dropdown-menu am-notifications">
                <li>
                    <div class="title">Notifications<span class="badge"></span></div>
                    <div class="list">
                        <div class="am-scroller nano">
                            <div class="content nano-content">
                                <ul>
                                    <li><a href="#">
                                            <div class="user-avatar"><img src="{{ asset(noti.idEvent.photo) }}" height="20%" width="20%"/>
                                                <div class="user-content"><span class="name">{{ noti.idEvent.titre }}</span><span
                                                            class="text-content"> {{ noti.message }}</span><span
                                                            class="date"></span></div>
                                            </div>

                                        </a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="footer"><a href="#">View all notifications</a></div>
                </li>
            </ul>
        {% endfor %}
    </li>
{% endblock  %}
{% block body %}
    <center>
        <form action="{{ path('e_recherche') }}?chose=" class="form-horizontal group-border-dashed" novalidate="">
            <div class="form-group">
                <div class="col-sm-3"></div>
                <div class="col-sm-6">
                    <input  placeholder="Recherche" name="chose" class="form-control" data-parsley-id="28" type="text">
                </div>
            </div>
        </form>
<div class="am-content">


    <div class="row">

        {% for event in pagination  %}
            {% if app.user==event.user %}
                <div class="col-md-4     col-sm-6 col-xs-12 block">
                    <div class="thumbnail thumbnailContent">
                        {%  if event.enable==0 %}
                            <a href="{{ path('e_show', { 'id': event.id }) }}"><img style="-webkit-filter: blur(5px)" src="{{ asset(event.photo) }}" alt="image" class="img-responsive" height="70%" width="70%"></a>
                        {% else %}
                            <a href="{{ path('e_show', { 'id': event.id }) }}"><img src="{{ asset(event.photo) }}" alt="image" class="img-responsive" height="70%" width="70%"></a>
                        {% endif %}

                        <div class="caption border-color-1">
                            <h3><a href="{{ path('e_show', { 'id': event.id }) }}" class="color-1">{{ event.titre }}</a></h3>
                            <ul class="list-unstyled">
                                <li><i class="fa fa-calendar" aria-hidden="true"></i>{% if event.datedebut %}{{ event.datedebut|date('Y/m/d H') }}H{% endif %}{% if event.datefin %}, Jusqu'à{{ event.datefin|date('Y/m/d H') }}H{% endif %}</li>

                            </ul>
                            <p>{{ event.description|truncate(30, false, '')}}</p>
                            <ul class="list-inline btn-yellow">
                                <li><a href="{{ path('e_show', { 'id': event.id }) }}" class="btn btn-primary "><i class="fa fa-calendar-check-o" aria-hidden="true"></i>Voir l'evennement</a></li>
                                <li><a href="{{ path('e_show', { 'id': event.id }) }}" class="btn btn-link"><i class="fa fa-angle-double-right" aria-hidden="true"></i> More</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            {% elseif event.enable==1 and app.user!=event.user and event.datedebut < 'now'|date('d - m -Y')  %}
                <div class="col-md-4     col-sm-6 col-xs-12 block">
                    <div class="thumbnail thumbnailContent">
                        <a href="{{ path('e_show', { 'id': event.id }) }}"><img  src="{{ asset(event.photo) }}" alt="image" class="img-responsive" height="70%" width="70%"></a>

                        <div class="caption border-color-1">
                            <h3><a href="{{ path('e_show', { 'id': event.id }) }}" class="color-1">{{ event.titre|capitalize  }}</a></h3>
                            <ul class="list-unstyled">
                                <li><i class="fa fa-calendar" aria-hidden="true"></i>{% if event.datedebut %}{{ event.datedebut|date('Y/m/d H') }}H{% endif %}{% if event.datefin %}, Jusqu'à {{ event.datefin|date('Y/m/d H') }}H{% endif %}</li>

                            </ul>
                            <p >{{ event.description|truncate(30, false, '')}}</p>
                            <ul class="list-inline btn-yellow">
                                <li><a href="{{ path('e_show', { 'id': event.id }) }}" class="btn btn-primary "><i class="fa fa-calendar-check-o" aria-hidden="true"></i>Voir l'evennement</a></li>
                                <li><a href="{{ path('e_show', { 'id': event.id }) }}" class="btn btn-link"><i class="fa fa-angle-double-right" aria-hidden="true"></i> More</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            {% endif %}

        {% endfor %}


    </div></div>
    <div class="navigation">
        {{ knp_pagination_render(pagination) }}
    </div>
    </center>
{% endblock %}
