{% extends 'baseBack.html.twig' %}

{% block body %}
<table border="1">
    <th>titre</th>
    <th>description</th>
    <th>date debut</th>
    <th>date fin</th>
    <th>photo</th>
    <th>lieu</th>
    <th>Place restantes</th>
    <th>Catégorie</th>
{% for event in events %}
    <td> {{ event.titre }}</td>
    <td> {{ event.description }}</td>
    <td> {{ event.datedebut|date }}</td>
    <td> {{ event.datefin|date }}</td>
    <td> {{ event.lieu }}</td>
    <td> {{ asset(event.photo) }}</td>
    <td> {{ event.nbMax }}</td>
    <td> {{ event.categorie }}</td>
    {% endfor %}

</table>
{% endblock %}