{% extends "base.html.twig" %}
{% block pageName %}
    <h2>Modifier offre</h2>
    <ol class="breadcrumb">
        <li><a href="{{ path('co_voiturage_homepage') }}">Co-Voiturage</a></li>
        <li><a href="{{ path('co_voiturage_viewoffre') }}">Offres</a></li>
        <li class="active">Modifier offre</li>
    </ol>
{% endblock %}
{% block body %}

    <div style="display: none">
    {% block CoVoiturageActive %}
        active
    {% endblock %}
    </div>

    <form role="form" method="POST" action="{{ path('co_voiturage_modifyoffre') }}">
        <div class="row">
            <div class="col-md-5">
                <input type="hidden" name="id" value="{{ co.id }}">
                <div class="form-group">
                    <label>Départ</label>
                    <input required value="{{ co.depart }}" id="start" name="depart" type="text" placeholder="Entrez la zone de départ" class="form-control">
                </div>
                <div class="form-group">
                    <label>Destination</label>
                    <input required value="{{ co.destination }}" id="end" name="destination" type="text" placeholder="Entrez la zone de Destination" class="form-control">
                </div>

                <div class="form-group">
                    <label>Quotidiennement</label>
                    <div class="switch-button switch-button-info" style="margin-left: 10px;">
                        <input name="onetime" id="swt6" type="checkbox" {% if cod is not null %} checked {% endif %} />
                        <span>
                                <label for="swt6"></label>
                        </span>
                    </div>
                </div>


                <div {% if cod is null %} style="display: none" {% endif %} id="jours" class="form-group">
                    <label class="control-label">Les jours</label>
                    <div class="am-checkbox">
                        <input value="lundi" name="jour[]" id="lundi" type="checkbox" {% if cod is not null %} {% if cod.lundi is not null %} checked {% endif %} {% endif %} >
                        <label for="lundi">Lundi</label>

                        <input value="mardi" name="jour[]" id="mardi" type="checkbox" {% if cod is not null %} {% if cod.mardi is not null %} checked {% endif %} {% endif %}>
                        <label  for="mardi">Mardi</label>

                        <input value="mercredi" name="jour[]" id="mercredi" type="checkbox" {% if cod is not null %} {% if cod.mercredi is not null %} checked {% endif %} {% endif %}>
                        <label  for="mercredi">Mercredi</label>
                    </div>
                    <div class="am-checkbox">
                        <input value="jeudi" name="jour[]" id="jeudi" type="checkbox" {% if cod is not null %} {% if cod.jeudi is not null %} checked {% endif %} {% endif %}>
                        <label val for="jeudi">Jeudi</label>

                        <input value="vendredi" name="jour[]" id="vendredi" type="checkbox" {% if cod is not null %} {% if cod.vendredi is not null %} checked {% endif %} {% endif %}>
                        <label for="vendredi">Vendredi</label>

                        <input value="samedi" name="jour[]" id="samedi" type="checkbox" {% if cod is not null %} {% if cod.samedi is not null %} checked {% endif %} {% endif %}>
                        <label for="samedi">Samedi</label>
                    </div>
                </div>


                <div {% if cod is not null %} style="display: none" {% endif %} id="dateheure" class="form-group">
                    <label>Date et heure</label>
                    <div data-date-format="yyyy-mm-dd HH:ii" data-link-field="dtp_input1" class="input-group date datetimepicker">
                        <input name="date" size="16" value="{% if cod is not null %} {{ co.date | date }} {% endif %}" readonly="" class="form-control" type="text"><span class="input-group-addon btn btn-primary"><i class="icon-th s7-date"></i></span>
                    </div>
                </div>

                <div class="form-group">
                    <label>Places disponibles</label>
                    <input value="{{ co.placedisponibles }}" name="placesdisponibles" type="number" placeholder="Entrez le nombre de places disponibles" class="form-control">
                </div>



            </div>
            <div class="col-md-6">
                <div style="height: 400px; width: 700px;" id="map"></div>
            </div>

        </div>



        <input value="{{ co.departid }}" type="hidden" id="idDepart" name="idDepart">
        <input value="{{ co.destinationid }}" type="hidden" id="idDestination" name="idDestination">
        <input type="hidden" id="formatted_addr" name="formattedaddr">

        </div>
        <center style="margin-top: 50px;">
            <button type="button" class="btn btn-default">Cancel</button>
            <button type="submit" class="btn btn-primary">Proceed</button>
        </center>
    </form>
    <button id="test">dsds</button>
{% endblock %}


{% block customScript %}
    <script>
        $('#swt6').change(function () {
            if ($('#swt6').is(':checked')){
                $('#dateheure').hide();
                $('#jours').show();
            }
            else {
                $('#jours').hide();
                $('#dateheure').show();
            }
        });
    </script>
    <script>
        var pos;
        var lol;
        var map;
        var geocoder;





        $('#test').click(function () {
            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(function(position) {
                    var pos = {
                        lat: position.coords.latitude,
                        lng: position.coords.longitude
                    };
                    geocoder = new google.maps.Geocoder;
                    var latlng = {lat: parseFloat(pos.lat), lng: parseFloat(pos.lng)};

                    geocoder.geocode({'location': latlng}, function (results, status, lol) {
                        if (status === google.maps.GeocoderStatus.OK) {
                            if (results[1]) {
                                lol = results[1].place_id.toString();
                                $('#start').val(results[1].formatted_address);
                                $('#formatted_addr').val(results[1].formatted_address);

                                //new AutocompleteDirectionsHandlerDefault(map,locationId);
                            } else {
                                window.alert('Pas de résultat trouvé');
                                //new AutocompleteDirectionsHandler(map);
                            }
                        } else {
                            window.alert('Echec : ' + status);
                            //new AutocompleteDirectionsHandler(map);
                        }
                    });
                });
            }
        });


        function initMap(lol) {
            map = new google.maps.Map(document.getElementById('map'), {
                mapTypeControl: false,
                center: {lat: -33.8688, lng: 151.2195},
                zoom: 13
            });
            geocoder = new google.maps.Geocoder;
            //var infoWindow = new google.maps.InfoWindow({map: map});
            new AutocompleteDirectionsHandler(map);


            /* if (navigator.geolocation) {
                 navigator.geolocation.getCurrentPosition(function (position) {
                     pos = {
                         lat: position.coords.latitude,
                         lng: position.coords.longitude
                     };

                     var latlng = {lat: parseFloat(pos.lat), lng: parseFloat(pos.lng)};

                     geocoder.geocode({'location': latlng}, function (results, status, lol) {
                         if (status === google.maps.GeocoderStatus.OK) {
                             if (results[1]) {
                                 lol = results[1].place_id.toString();
                                 $('#formatted_addr').val(results[1].formatted_address);
                                 new AutocompleteDirectionsHandler(map, lol);
                                 //new AutocompleteDirectionsHandlerDefault(map,locationId);
                             } else {
                                 window.alert('Pas de résultat trouvé');
                                 new AutocompleteDirectionsHandler(map);
                             }
                         } else {
                             window.alert('Echec : ' + status);
                             new AutocompleteDirectionsHandler(map);
                         }
                     });

                     //new AutocompleteDirectionsHandler(map);

                     //infoWindow.setPosition(pos);
                     //infoWindow.setContent('Votre emplacement.');
                     //map.setCenter(pos);
                 }, function () {
                     handleLocationError(true, infoWindow, map.getCenter());
                 });
             } else {
                 // Browser doesn't support Geolocation
                 handleLocationError(false, infoWindow, map.getCenter());
             }*/

        }
            function handleLocationError(browserHasGeolocation, infoWindow, pos) {
                infoWindow.setPosition(pos);
                infoWindow.setContent(browserHasGeolocation ?
                    'Erreur: La géolocalisation a échoué.' :
                    'Erreur: Votre navigateur ne supporte pas la géolocalisation');
            }


            //alert($('#placeIdLocation').val());

            function AutocompleteDirectionsHandler(map) {
                this.map = map;
                this.originPlaceId = "{{ co.departid }}";
                //alert($('#placeIdLocation').attr('name'));
                this.destinationPlaceId = "{{ co.destinationid }}";
                this.travelMode = 'DRIVING';
                var originInput = document.getElementById('start');
                var destinationInput = document.getElementById('end');
                var modeSelector = 'DRIVING';
                this.directionsService = new google.maps.DirectionsService;
                this.directionsDisplay = new google.maps.DirectionsRenderer;
                this.directionsDisplay.setMap(map);

                var originAutocomplete = new google.maps.places.Autocomplete(
                    originInput, {placeIdOnly: true});
                var destinationAutocomplete = new google.maps.places.Autocomplete(
                    destinationInput, {placeIdOnly: true});


                this.setupPlaceChangedListener(originAutocomplete, 'ORIG');
                this.setupPlaceChangedListener(destinationAutocomplete, 'DEST');

                this.route();

            }


            AutocompleteDirectionsHandler.prototype.setupPlaceChangedListener = function (autocomplete, mode) {
                console.log(autocomplete);
                var me = this;
                autocomplete.bindTo('bounds', this.map);
                autocomplete.addListener('place_changed', function () {

                    var place = autocomplete.getPlace();
                    if (!place.place_id) {
                        window.alert("Remplissez les champs nécessaires");
                        return;
                    }
                    if (mode === 'ORIG') {
                        me.originPlaceId = place.place_id;
                    } else {
                        me.destinationPlaceId = place.place_id;
                    }
                    me.route();
                });

            };

            AutocompleteDirectionsHandler.prototype.route = function () {
                if (!this.originPlaceId || !this.destinationPlaceId) {
                    return;
                }
                var me = this;

                $('#idDepart').val(this.originPlaceId);
                $('#idDestination').val(this.destinationPlaceId);


                this.directionsService.route({
                    origin: {'placeId': this.originPlaceId},
                    destination: {'placeId': this.destinationPlaceId},
                    travelMode: 'DRIVING'
                }, function (response, status) {
                    if (status === 'OK') {
                        me.directionsDisplay.setDirections(response);
                    } else {
                        window.alert('Directions request failed due to ' + status);
                    }
                });
            };




    </script>


    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA8w507O9U90-M_IIeytsa4weIBO_yAjhI&libraries=places&callback=initMap"
            async defer></script>





{% endblock %}
