{% extends "base.html.twig" %}
{% block pageName %}
    <h2>Mes offres</h2>
    <ol class="breadcrumb">
        <li><a href="{{ path('co_voiturage_homepage') }}">Co-Voiturage</a></li>
        <li class="active">Mes offres</li>
    </ol>
{% endblock %}
{% block body %}

    <div style="display: none">
        {% block CoVoiturageActive %}
            active
        {% endblock %}
        {% block CoVoiturageViewOwnOffreActive %}
            active
        {% endblock %}
    </div>



    <div class="panel panel-alt2">
        <div class="panel-heading">
            <div class="tools"><a href="{{ path('co_voiturage_addoffreview') }}"><span class="icon s7-upload"
                                                                                       data-toggle="tooltip"
                                                                                       data-placement="top" title=""
                                                                                       data-original-title="Ajouter un offre"></span></a>
            </div>
            <span class="title">Offres de Co-Voiturage</span>
        </div>


        {% if cov is defined %}

            {% for c in cov %}
                <div style="padding-bottom: 2px;">
                    <table class="table table-striped table-fw-widget table-hover">
                        <tbody class="no-border-x">
                        <tr>
                            <td class="onhovericon" style="font-size:20px; width: 30px;">
                                <a href="{{ path('co_voiturage_infooffre',{'id':c.id}) }}">
                                    <span class="icon s7-info onhovericon" data-toggle="tooltip" data-placement="top"
                                          title="" data-original-title="Informations"></span>
                                </a>
                            </td>
                            <td style="width: 100px;">{{ c.user.username | upper }}</td>
                            <td style="width: 320px;"><span class="labels">Depart : </span> {{ c.depart }}</td>
                            <td><span class="labels">Destination : </span> {{ c.destination }}</td>
                            {% if c.updated == null %}
                                <td>{{ c.created | date }}</td>
                            {% else %}
                                <td>{{ c.updated | date }}</td>
                            {% endif %}


                            <td class="onhovericon" style="font-size:25px;">
                                {% if c.user.id == app.user.id %}
                                    <a href="{{ path('co_voiturage_modifyoffreview',{'id':c.id}) }}"><span
                                                class="icon s7-edit" data-toggle="tooltip" data-placement="top" title=""
                                                data-original-title="Modification"></span></a>
                                {% endif %}
                            </td>
                            <td class="onhovericon" style="font-size:25px;">
                                {% if c.user.id == app.user.id %}
                                    <a href="{{ path('co_voiturage_deleteoffre',{'id':c.id}) }}"><span
                                                class="icon s7-close" data-toggle="tooltip" data-placement="top"
                                                title="" data-original-title="Suppression"></span></a>
                                {% endif %}
                            </td>


                        </tr>
                        </tbody>
                    </table>

                </div>

                {% for r in cor %}
                    {% if r.idc == c  %}
                        <div style="padding-left: 60px;">
                            <table class="table table-striped table-fw-widget table-hover">
                                <tbody class="no-border-x">
                                <tr>
                                    <td style="width: 320px;"><span
                                                class="labels">Demande de la part de  : </span>{{ r.user.username | upper }}
                                    </td>
                                    <td style="width: 200px;">{{ r.created | date }}</td>
                                    <td style="width: 190px;">
                                        <span class="labels">Etat : </span>
                                        {% if r.etat == "a" %}
                                            En attente
                                        {% elseif r.etat == "c" %}
                                            Accepté
                                        {% elseif r.etat == "r" %}
                                            Refusé
                                        {% endif %}
                                    </td>


                                    <td class="onhovericon" style="font-size:25px; width: 50px;">
                                        {% if r.etat == "a" %}
                                            <a href="{{ path('co_voiturage_refuseoffrerequest',{'id':r.id}) }}"><span
                                                        class="icon s7-close-circle" data-toggle="tooltip"
                                                        data-placement="top" title=""
                                                        data-original-title="Refuser"></span></a>
                                        {% endif %}
                                    </td>
                                    <td class="onhovericon" style="font-size:25px;">
                                        {% if r.etat == "a" %}
                                            <a href="{{ path('co_voiturage_acceptoffrerequest',{'id':r.id}) }}"><span
                                                        class="icon s7-check" data-toggle="tooltip" data-placement="top"
                                                        title="" data-original-title="Accepter"></span></a>
                                        {% endif %}
                                    </td>


                                </tr>
                                </tbody>
                            </table>

                        </div>
                    {% endif %}
                {% endfor %}
            {% endfor %}
        {% endif %}

    </div>



    <div class="panel panel-alt2">
        <div class="panel-heading">
            <div class="tools"><a href="{{ path('co_voiturage_addoffreview') }}"><span class="icon s7-upload"
                                                                                       data-toggle="tooltip"
                                                                                       data-placement="top" title=""
                                                                                       data-original-title="Ajouter un offre"></span></a>
            </div>
            <span class="title">Mes demandes d'offres de Co-Voiturage</span>
        </div>


        {% if cor2 is defined %}

            {% for c in cov2 %}
                {% for r in cor2 %}
                    {% if r.idc == c and c.type == "o" %}
                        <div style="padding-bottom: 2px;">
                            <table class="table table-striped table-fw-widget table-hover">
                                <tbody class="no-border-x">
                                <tr>
                                    <td class="onhovericon" style="font-size:20px; width: 30px;">
                                        <a href="{{ path('co_voiturage_infooffre',{'id':c.id}) }}">
                                            <span class="icon s7-info onhovericon" data-toggle="tooltip"
                                                  data-placement="top" title=""
                                                  data-original-title="Informations"></span>
                                        </a>
                                    </td>
                                    <td style="width: 100px;">{{ c.user.username | upper }}</td>
                                    <td style="width: 320px;"><span class="labels">Depart : </span> {{ c.depart }}</td>
                                    <td><span class="labels">Destination : </span> {{ c.destination }}</td>
                                    {% if c.updated == null %}
                                        <td>{{ c.created | date }}</td>
                                    {% else %}
                                        <td>{{ c.updated | date }}</td>
                                    {% endif %}

                                    <td style="width: 190px;">
                                        <span class="labels">Etat : </span>
                                        {% if r.etat == "a" %}
                                            En attente
                                        {% elseif r.etat == "c" %}
                                            Accepté
                                        {% elseif r.etat == "r" %}
                                            Refusé
                                        {% endif %}
                                    </td>
                                    <td>
                                        {% if r.etat != "r" %}
                                            <a class="labels"
                                               href="{{ path('co_voiturage_deleteoffrerequest', { 'id':r.id }) }}"><span>Annuler</span></a>
                                        {% endif %}
                                    </td>


                                </tr>
                                </tbody>
                            </table>

                        </div>



                    {% endif %}
                {% endfor %}
            {% endfor %}
        {% endif %}

    </div>




{% endblock %}

{% block customScript %}
    <script>
        {% if success is defined %}
        {% if success == 1 %}
        $.gritter.add({
            title: "Succès",
            text: "Accepté avec succès.",
            class_name: "color alt3"
        });
        {% elseif success == 2 %}
        $.gritter.add({
            title: "Succès",
            text: "Modification faite avec succès.",
            class_name: "color alt2"
        });
        {% elseif success == 3 %}
        $.gritter.add({
            title: "Erreur",
            text: "Nombre de place restant est zero.",
            class_name: "color alt1"
        });
        {% elseif success == 4 %}
        $.gritter.add({
            title: "Succès",
            text: "Annulée avec succès.",
            class_name: "color alt2"
        });
        {% elseif success == 5 %}
        $.gritter.add({
            title: "Succès",
            text: "Refusée avec succès.",
            class_name: "color alt2"
        });
        {% endif %}
        {% endif %}
    </script>

{% endblock %}

