{% extends "base.html.twig" %}
{% block pageName %}
    <h2>Les offres</h2>
    <ol class="breadcrumb">
        <li><a href="{{ path('co_voiturage_homepage') }}">Co-Voiturage</a></li>
        <li class="active">Demandes</li>
    </ol>
{% endblock %}
{% block body %}

    <div style="display: none">
        {% block CoVoiturageActive %}
            active
        {% endblock %}
        {% block CoVoiturageViewDemandeActive %}
            active
        {% endblock %}
    </div>

    <div class="panel panel-dark">
        <div class="panel-heading">
            <span class="title">Nos suggestions : les demandes les plus proches de vous</span>
        </div>

        <div class="panel-body">

            <table class="table table-fw-widget">
                <tbody class="no-border-x">
                <tr id="n1"></tr>
                <tr id="n2"></tr>
                <tr id="n3"></tr>

                </tbody>
            </table>

            <table style="display: none;" id="device-table" class="results table table-striped table-fw-widget table-hover">
                {% if cov is defined %}
                <tbody class="no-border-x">

                {% for c in cov %}
                    <tr id="{{ c.id }}">
                        <td class="onhovericon" style="font-size:20px; width: 30px;">
                            <a href="{{ path('co_voiturage_infodemande',{'id':c.id}) }}">
                                    <span class="icon s7-info onhovericon" data-toggle="tooltip" data-placement="top"
                                          title="" data-original-title="Informations"></span>
                            </a>
                        </td>
                        <td style="width: 100px;">{{ c.user.username | upper }}</td>
                        <td style="width: 320px;"><span class="labels">Depart : </span> {{ c.depart }}</td>
                        <td><span class="labels">Destination : </span> {{ c.destination }}</td>
                        {% if c.updated == null %}
                            <td>{{ c.created |ago }}</td>
                        {% else %}
                            <td>{{ c.updated |ago }}</td>
                        {% endif %}

                        <td>
                            {% if cor is defined and cor is not null %}
                                {% if c.id == cor.idc.id %}
                                    <span style="font-size: 10px">Vous avez déjà envoyé une demande</span>
                                {% endif %}
                            {% elseif c.user.id != app.user.id %}
                                <a href="{{ path('co_voiturage_requestdemande',{'id':c.id}) }}">
                                    <button class="btn btn-warning">Request</button>
                                </a>
                            {% endif %}
                        </td>



                    </tr>
                {% endfor %}
                {% endif %}
                </tbody>
            </table>


        </div>
    </div>

    <div class="panel panel-alt1">
        <div class="panel-heading">
            <div class="tools"><a href="{{ path('co_voiturage_adddemandeview') }}"><span class="icon s7-upload"
                                                                                       data-toggle="tooltip"
                                                                                       data-placement="top" title=""
                                                                                       data-original-title="Ajouter un offre"></span></a>
            </div>
            <span class="title">Demandes de Co-Voiturage</span>
        </div>

        <div class="panel-body">

            <div class="pull-right">
                <input type="text" class="search form-control" placeholder="Qu'est ce que vous recherchez ?">
            </div>
            <span class="counter pull-right"></span>

            <table id="device-table" class="results table table-striped table-fw-widget table-hover">
                {% if cov is defined %}
                <thead>
                <tr>
                    <th></th>
                    <th>User</th>
                    <th>Départ</th>
                    <th>Destination</th>
                    <th></th>
                </tr>
                </thead>
                <tbody class="no-border-x">

                {% for c in cov %}
                    <tr>
                        <td class="onhovericon" style="font-size:20px;">
                            <a href="{{ path('co_voiturage_infodemande',{'id':c.id}) }}">
                                <span class="icon s7-info onhovericon" data-toggle="tooltip" data-placement="top"
                                      title="" data-original-title="Informations"></span>
                            </a>
                        </td>
                        <td>{{ c.user.username | upper }}</td>
                        <td>{{ c.depart }}</td>
                        <td>{{ c.destination }}</td>
                        {% if c.updated == null %}
                            <td>{{ c.created |ago }}</td>
                        {% else %}
                            <td>{{ c.updated |ago }}</td>
                        {% endif %}

                        <td>
                            {% if cor is defined and cor is not null %}
                                {% if c.id == cor.idc.id %}
                                    <span style="font-size: 10px">Vous avez déjà envoyé une demande</span>
                                {% endif %}
                            {% elseif c.user.id != app.user.id %}
                                <a href="{{ path('co_voiturage_requestdemande',{'id':c.id}) }}">
                                    <button class="btn btn-warning">Request</button>
                                </a>
                            {% endif %}
                        </td>

                        <td class="onhovericon" style="font-size:25px;">
                            {% if c.user.id == app.user.id %}
                                <a href="{{ path('co_voiturage_modifydemandeview',{'id':c.id}) }}"><span
                                            class="icon s7-edit" data-toggle="tooltip" data-placement="top" title=""
                                            data-original-title="Modification"></span></a>
                            {% endif %}
                        </td>
                        <td class="onhovericon" style="font-size:25px;">
                            {% if c.user.id == app.user.id %}
                                <a href="{{ path('co_voiturage_deletedemande',{'id':c.id}) }}"><span class="icon s7-close"
                                                                                                   data-toggle="tooltip"
                                                                                                   data-placement="top"
                                                                                                   title=""
                                                                                                   data-original-title="Suppression"></span></a>
                            {% endif %}
                        </td>


                    </tr>
                {% endfor %}
                {% endif %}
                </tbody>
            </table>


        </div>
    </div>





{% endblock %}

{% block customScript %}
    <script>
        {% if success is defined %}
        {% if success == 1 %}
        $.gritter.add({
            title: "Succès",
            text: "Ajout fait avec succès.",
            class_name: "color alt3"
        });
        {% elseif success == 2 %}
        $.gritter.add({
            title: "Succès",
            text: "Modification faite avec succès.",
            class_name: "color alt2"
        });
        {% elseif success == 3 %}
        $.gritter.add({
            title: "Succès",
            text: "Suppression faite avec succès.",
            class_name: "color alt1"
        });
        {% elseif success == 4 %}
        $.gritter.add({
            title: "Succès",
            text: "Demande a été faite avec succès.",
            class_name: "color alt2"
        });

        {% elseif success == 5 %}
        $.gritter.add({
            title: "Erreur",
            text: "Nombre de place restant est zero.",
            class_name: "color alt1"
        });
        {% endif %}
        {% endif %}
    </script>


    <script>

        $(".search").keyup(function () {
            var searchTerm = $(".search").val();
            var listItem = $('.results tbody').children('tr');
            var searchSplit = searchTerm.replace(/ /g, "'):containsi('")

            $.extend($.expr[':'], {
                'containsi': function (elem, i, match, array) {
                    return (elem.textContent || elem.innerText || '').toLowerCase().indexOf((match[3] || "").toLowerCase()) >= 0;
                }
            });

            $(".results tbody tr").not(":containsi('" + searchSplit + "')").each(function (e) {
                $(this).hide();
            });

            $(".results tbody tr:containsi('" + searchSplit + "')").each(function (e) {
                $(this).show();
            });

        });


        $('#device-table').on('click', '.device-table', function (event) {
            $(this).addClass('bg-info').siblings().removeClass('bg-info');
        });
    </script>

    <script>
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(function(position) {
                var pos = {
                    lat: position.coords.latitude,
                    lng: position.coords.longitude
                };
                var t = [0];
                {% if cov is defined %}
                {% for c in cov %}
                {% if c.user != app.user %}
                var latc = Math.abs(Math.abs(pos.lat)-Math.abs({{ c.departlat }}));
                var lngc = Math.abs(Math.abs(pos.lng)-Math.abs({{ c.departlng }}));
                var place = {id:'{{ c.id }}' ,username:'{{ c.user.username }}' ,depart:'{{ c.depart }}' ,destination:'{{ c.destination }}' , value:latc+lngc};
                t[{{ loop.index0 }}] = place;
                {% endif %}
                {% endfor %}
                {% else %}
                t = null;
                {% endif %}
                t.sort(function(a, b){return a.value-b.value});

                //var suggContent ="";

                $.each(t,function (index) {
                    $('#n'+(index+1)).html($('#'+t[index].id).html());
                });

                //$('#repcontent').html(suggContent);

            });
        }

    </script>

{% endblock %}

