{% extends '::base.html.twig' %}
{% block body %}

    <style>

        /*   #map {
               height: 400px;

           }
   */
        .pac-container {
            font-family: Roboto;
        }

        #type-selector {
            color: #fff;
            background-color: #4d90fe;
            padding: 5px 11px 0px 11px;
        }

        #type-selector label {
            font-family: Roboto;
            font-size: 13px;
            font-weight: 300;
        }
    </style>
    <div class="row">
        <div class="col-sm-6">
            {{ form_start(form) }}

            <div class="form-group">
                <label>Titre</label>
                {{ form_widget(form.titre,{'attr':{'class':'form-control','placeholder':"Entrer titre"}}) }}
            </div>
            <div class="form-group">
                <label>Nature</label>
                {{ form_widget(form.nature,{'attr':{'class':'form-control'}}) }}
            </div>
            <div class="form-group">
                <label>Loyer</label>
                {{ form_widget(form.loyer,{'attr':{'class':'form-control','placeholder':"Entrer prix"}}) }}
            </div>
            <div class="form-group">
                <label>Meublé</label>
                {{ form_widget(form.meuble,{'attr':{'class':'form-control'}}) }}
            </div>
            <div class="form-group">
                <label>Description</label>
                {{ form_widget(form.description,{'attr':{'class':'form-control','placeholder':"Entrer description"}}) }}
            </div>
            <div class="form-group">
                <label>Type</label>
                {{ form_widget(form.type,{'attr':{'class':'form-control'}}) }}
            </div>
            <div class="form-group">
                <label>Ville</label>
                {{ form_widget(form.ville,{'attr':{'class':'form-control'}}) }}
            </div>
            <div class="form-group">
                <label>lng</label>
                {{ form_widget(form.x,{'attr':{'class':'form-control','placeholder':"lng"}}) }}
            </div>
            <div class="form-group">
                <label>lat</label>
                {{ form_widget(form.y,{'attr':{'class':'form-control','placeholder':"lat"}}) }}
            </div>
            <div class="form-group">
                <label>Photos</label>
                {{ form_widget(form.photo,{'attr':{'class':'form-control','placeholder':"lat"}}) }}
                {{ form_widget(form.photo1,{'attr':{'class':'form-control','placeholder':"lat"}}) }}
                {{ form_widget(form.photo2,{'attr':{'class':'form-control','placeholder':"lat"}}) }}


            </div>


            <br>


            <input type="submit" class="btn btn-primary" value="Publier l'annonce" onclick="xy()"/>
            {{ form_end(form) }}
            {{ form_end(form) }}
        </div>
        <div id="map" class="col-sm-5" style="width: 50%;height: 500px;position: relative;overflow: hidden;">

        </div>

        <script>
            var marker;

            function myMap() {
                var myCenter = new google.maps.LatLng(36.847218, 10.136408);
                var mapCanvas = document.getElementById("map");
                var mapOptions = {center: myCenter, zoom: 5};
                var map = new google.maps.Map(mapCanvas, mapOptions);

                var infowindow = new google.maps.InfoWindow();
                var marker = new google.maps.Marker({
                    map: map,
                    anchorPoint: new google.maps.Point(0, -29)

                });
                marker = new google.maps.Marker({
                    map: map,
                    draggable: true,
                    animation: google.maps.Animation.DROP,
                    position: map.center
                });
                marker.setMap(map);
                //  marker.addListener('click', toggleBounce);
                google.maps.event.addListener(marker, 'drag', function (event) {
                    $("#colocationbundle_colocation_x").val(event.latLng.lng());
                    $("#colocationbundle_colocation_y").val(event.latLng.lat());
                });
                /////

                /////
                marker.setMap(map);

            }
        </script>

        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCWb0i4faRZm8P5oEN-ukUF_CACQzWt480&libraries=places&callback=myMap"></script>
    </div>

{% endblock %}