{% extends 'base.html.twig' %}


{% block body %}
    {% set i=0 %}
    <div id="recherche-content">
        <h3>Resultat du recherche</h3>
        <div id="recherche-elements">

        </div>
    </div>
    <input id="all" type="text" value="{{ all }}" hidden >

    {% if is_granted('ROLE_ENSEIGNANT') %}
        <div class="row">
        <h3>Documents Non validé</h3>
        {% for doc in docprofs %}

            {% set i=i+1 %}
            {% if i % 7 == 0  %}
                </div>
                <div class="row">
                <div class="col-sm-2" id="{{ i }}">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            {% if doc.typeDocument=="docx" %}
                                <a href="{{ asset(doc.path) }}"><img style="width: 125px;height: 80px;"
                                                                     src="{{ asset(doc.img) }}"/></a>
                            {% endif %}
                            {% if doc.typeDocument=="pdf" %}
                                <a onclick="modal3({{ i }});"><img style="width: 125px;height: 80px;"
                                                                   src="{{ asset(doc.img) }}"/></a>
                            {% endif %}
                        </div>

                            <div class="panel-footer" id="test{{ i }}" onmouseover="test({{ i }});" onmouseleave="test2({{ i }});"
                                 style="padding: 2px;">
                                <center><p id="name{{ i }}">{{ doc.libelle }}</p>

                                    <div id="action{{ i }}" class="action">
                                        <a href="{{ path('supp_documents',{'idDoc': doc.id,'idMatiere':doc.matiere.id}) }}"><img
                                                    style="width: 25px;height: 25px; margin-left:10px;"
                                                    src="{{ asset('/img/del.png') }}"/></a>
                                        <a href="{{ path('valider_documents') }}"><img style="width: 25px;height: 25px; margin-left:20px;"
                                                                           src="{{ asset('/img/tik.png') }}"/></a>
                                    </div>
                                </center>
                            </div>


                    </div>
                </div>
               <div id="afficher{{ i }}" class="modal">
                    <!-- Modal content -->
                    <div class="modal-content2">
                        <span class="close"><a onclick="out2({{ i }});">&times;</a></span>

                        <object type="application/PDF" width="100%" height="200%">
                            <param name="src" value="{{ doc.path }}"/>
                        </object>

                    </div>

                </div>
            {% else %}
                <div class="col-sm-2" id="{{ i }}">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            {% if doc.typeDocument=="docx" %}
                                <a href="{{ asset(doc.path) }}"><img style="width: 125px;height: 80px;"
                                                                     src="{{ asset(doc.img) }}"/></a>
                            {% endif %}
                            {% if doc.typeDocument=="pdf" %}
                                <a onclick="modal3({{ i }});"><img style="width: 125px;height: 80px;"
                                                                   src="{{ asset(doc.img) }}"/></a>
                            {% endif %}
                        </div>


                            <div class="panel-footer" id="test{{ i }}" onmouseover="test({{ i }});" onmouseleave="test2({{ i }});"
                                 style="padding: 2px;">
                                <center><p id="name{{ i }}">{{ doc.libelle }}</p>

                                    <div id="action{{ i }}" class="action">
                                        <a href="{{ path('supp_documents',{'idDoc': doc.id,'idMatiere':doc.matiere.id}) }}"><img
                                                    style="width: 25px;height: 25px; margin-left:10px;"
                                                    src="{{ asset('/img/del.png') }}"/></a>
                                        <a href="{{ path('valider_documents',{'idDoc': doc.id,'idMatiere':doc.matiere.id}) }}"><img style="width: 25px;height: 25px; margin-left:20px;"
                                                                           src="{{ asset('/img/tik.png') }}"/></a>
                                    </div>
                                </center>
                            </div>

                    </div>
                </div>
                <div id="afficher{{ i }}" class="modal">
                    <!-- Modal content -->
                    <div class="modal-content2">
                        <span class="close"><a onclick="out2({{ i }});">&times;</a></span>

                        <object type="application/PDF" width="100%" height="200%">
                            <param name="src" value="{{ doc.path }}"/>
                        </object>

                    </div>

                </div>
            {% endif %}
        {% endfor %}
        </div>
        <h3>All Documents</h3>
        {% for doc in docs %}

            {% set i=i+1 %}
            {% if i % 7 == 0  %}
                </div>
                <div class="row">
                <div class="col-sm-2" id="{{ i }}">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            {% if doc.typeDocument=="docx" %}
                                <a href="{{ asset(doc.path) }}"><img style="width: 125px;height: 80px;"
                                                                     src="{{ asset(doc.img) }}"/></a>
                            {% endif %}
                            {% if doc.typeDocument=="pdf" %}
                                <a onclick="modal3({{ i }});"><img style="width: 125px;height: 80px;"
                                                                   src="{{ asset(doc.img) }}"/></a>
                            {% endif %}
                        </div>
                            <div class="panel-footer" id="test{{ i }}" onmouseover="test({{ i }});" onmouseleave="test2({{ i }});"
                                 style="padding: 2px;">
                                <center><p >{{ doc.libelle }}</p>

                                    <div class="action">
                                        <a href="{{ path('supp_documents',{'idDoc': doc.id,'idMatiere':doc.matiere.id}) }}"><img
                                                    style="width: 25px;height: 25px; margin-left:10px;"
                                                    src="{{ asset('/img/del.png') }}"/></a>
                                      </div>
                                </center>
                            </div>

                    </div>
                </div>
                 <div id="afficher{{ i }}" class="modal">
                    <!-- Modal content -->
                    <div class="modal-content2">
                        <span class="close"><a onclick="out2({{ i }});">&times;</a></span>

                        <object type="application/PDF" width="100%" height="200%">
                            <param name="src" value="{{ doc.path }}"/>
                        </object>

                    </div>

                </div>
            {% else %}
                <div class="col-sm-2" id="{{ i }}">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            {% if doc.typeDocument=="docx" %}
                                <a href="{{ asset(doc.path) }}"><img style="width: 125px;height: 80px;"
                                                                     src="{{ asset(doc.img) }}"/></a>
                            {% endif %}
                            {% if doc.typeDocument=="pdf" %}
                                <a onclick="modal3({{ i }});"><img style="width: 125px;height: 80px;"
                                                                   src="{{ asset(doc.img) }}"/></a>
                            {% endif %}
                        </div>

                        {% if doc.user.id==app.user.id %}
                            <div class="panel-footer" id="test{{ i }}" onmouseover="test({{ i }});" onmouseleave="test2({{ i }});"
                                 style="padding: 2px;">
                                <center><p id="name{{ i }}">{{ doc.libelle }}</p>

                                    <div id="action{{ i }}" class="action">
                                        <a href="{{ path('supp_documents',{'idDoc': doc.id,'idMatiere':doc.matiere.id}) }}"><img
                                                    style="width: 25px;height: 25px; margin-left:10px;"
                                                    src="{{ asset('/img/del.png') }}"/></a>
                                        <a onclick="modal2({{ i }});"><img style="width: 25px;height: 25px; margin-left:20px;"
                                                                           src="{{ asset('/img/update.png') }}"/></a>
                                    </div>
                                </center>
                            </div>
                        {% else %}
                            <div class="panel-footer" style="padding: 2px;">
                                <center><p id="name{{ i }}">{{ doc.libelle }}</p></center>
                            </div>
                        {% endif %}

                    </div>
                </div>
                <div id="update{{ i }}" class="modal">
                    <!-- Modal content -->
                    <div class="modal-content">
                        <span class="close"><a onclick="out({{ i }});">&times;</a></span>
                        <h3 id="title2">Modifier un document</h3>
                        <div class="wrap">
                            <form class="form-horizontal group-border-dashed" style="border-radius: 0px;" method="post"
                                  action="{{ path('modif_documents',{'idDoc': doc.id,'idMatiere':doc.matiere.id}) }}">
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">Nom du fichier :</label>
                                    <div class="col-sm-6">
                                        <input type="text" name="libelle" placeholder="nouveau nom" value="{{ doc.libelle }}"
                                               class="form-control">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">language :</label>
                                    <div class="col-sm-6">
                                        <input type="text" name="language" placeholder="nouvelle language"
                                               value="{{ doc.language }}" class="form-control">
                                    </div>
                                </div>
                                <div class="text-right">
                                    <button type="submit" class="btn btn-space btn-primary">Modifier</button>

                                </div>
                            </form>

                        </div>
                    </div>

                </div>
                <div id="afficher{{ i }}" class="modal">
                    <!-- Modal content -->
                    <div class="modal-content2">
                        <span class="close"><a onclick="out2({{ i }});">&times;</a></span>

                        <object type="application/PDF" width="100%" height="200%">
                            <param name="src" value="{{ doc.path }}"/>
                        </object>

                    </div>

                </div>
            {% endif %}




        {% endfor %}
        </div>
    {% else %}
    {% for doc in docs %}

        {% set i=i+1 %}
        {% if i % 7 == 0  %}
        </div>
        <div class="row">
        <div class="col-sm-2" id="{{ i }}">
            <div class="panel panel-default">
                <div class="panel-body">
                    {% if doc.typeDocument=="docx" %}
                        <a href="{{ asset(doc.path) }}"><img style="width: 125px;height: 80px;"
                                                             src="{{ asset(doc.img) }}"/></a>
                    {% endif %}
                    {% if doc.typeDocument=="pdf" %}
                        <a onclick="modal3({{ i }});"><img style="width: 125px;height: 80px;"
                                                           src="{{ asset(doc.img) }}"/></a>
                    {% endif %}
                </div>

                {% if doc.user.id==app.user.id %}
                <div class="panel-footer" id="test{{ i }}" onmouseover="test({{ i }});" onmouseleave="test2({{ i }});"
                     style="padding: 2px;">
                    <center><p id="name{{ i }}">{{ doc.libelle }}</p>

                        <div id="action{{ i }}" class="action">
                            <a href="{{ path('supp_documents',{'idDoc': doc.id,'idMatiere':doc.matiere.id}) }}"><img
                                        style="width: 25px;height: 25px; margin-left:10px;"
                                        src="{{ asset('/img/del.png') }}"/></a>
                            <a onclick="modal2({{ i }});"><img style="width: 25px;height: 25px; margin-left:20px;"
                                                               src="{{ asset('/img/update.png') }}"/></a>
                        </div>
                    </center>
                </div>
                    {% else %}
                <div class="panel-footer" style="padding: 2px;">
                            <center><p id="name{{ i }}">{{ doc.libelle }}</p></center>
                </div>
                    {% endif %}

            </div>
        </div>
        <div id="update{{ i }}" class="modal">
            <!-- Modal content -->
            <div class="modal-content">
                <span class="close"><a onclick="out({{ i }});">&times;</a></span>
                <h3 id="title2">Modifier un document</h3>
                <div class="wrap">
                    <form class="form-horizontal group-border-dashed" style="border-radius: 0px;" method="post"
                          action="{{ path('modif_documents',{'idDoc': doc.id,'idMatiere':doc.matiere.id}) }}">
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Nom du fichier :</label>
                            <div class="col-sm-6">
                                <input type="text" name="libelle" placeholder="nouveau nom" value="{{ doc.libelle }}"
                                       class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">language :</label>
                            <div class="col-sm-6">
                                <input type="text" name="language" placeholder="nouvelle language"
                                       value="{{ doc.language }}" class="form-control">
                            </div>
                        </div>
                        <div class="text-right">
                            <button type="submit" class="btn btn-space btn-primary">Modifier</button>

                        </div>
                    </form>

                </div>
            </div>

        </div>
        <div id="afficher{{ i }}" class="modal">
            <!-- Modal content -->
            <div class="modal-content2">
                <span class="close"><a onclick="out2({{ i }});">&times;</a></span>

                <object type="application/PDF" width="100%" height="200%">
                    <param name="src" value="{{ doc.path }}"/>
                </object>

            </div>

        </div>
            {% else %}
                <div class="col-sm-2" id="{{ i }}">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            {% if doc.typeDocument=="docx" %}
                                <a href="{{ asset(doc.path) }}"><img style="width: 125px;height: 80px;"
                                                                     src="{{ asset(doc.img) }}"/></a>
                            {% endif %}
                            {% if doc.typeDocument=="pdf" %}
                                <a onclick="modal3({{ i }});"><img style="width: 125px;height: 80px;"
                                                                   src="{{ asset(doc.img) }}"/></a>
                            {% endif %}
                        </div>

                        {% if doc.user.id==app.user.id %}
                            <div class="panel-footer" id="test{{ i }}" onmouseover="test({{ i }});" onmouseleave="test2({{ i }});"
                                 style="padding: 2px;">
                                <center><p id="name{{ i }}">{{ doc.libelle }}</p>

                                    <div id="action{{ i }}" class="action">
                                        <a href="{{ path('supp_documents',{'idDoc': doc.id,'idMatiere':doc.matiere.id}) }}"><img
                                                    style="width: 25px;height: 25px; margin-left:10px;"
                                                    src="{{ asset('/img/del.png') }}"/></a>
                                        <a onclick="modal2({{ i }});"><img style="width: 25px;height: 25px; margin-left:20px;"
                                                                           src="{{ asset('/img/update.png') }}"/></a>
                                    </div>
                                </center>
                            </div>
                        {% else %}
                            <div class="panel-footer" style="padding: 2px;">
                                <center><p id="name{{ i }}">{{ doc.libelle }}</p></center>
                            </div>
                        {% endif %}

                    </div>
                </div>
                <div id="update{{ i }}" class="modal">
                    <!-- Modal content -->
                    <div class="modal-content">
                        <span class="close"><a onclick="out({{ i }});">&times;</a></span>
                        <h3 id="title2">Modifier un document</h3>
                        <div class="wrap">
                            <form class="form-horizontal group-border-dashed" style="border-radius: 0px;" method="post"
                                  action="{{ path('modif_documents',{'idDoc': doc.id,'idMatiere':doc.matiere.id}) }}">
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">Nom du fichier :</label>
                                    <div class="col-sm-6">
                                        <input type="text" name="libelle" placeholder="nouveau nom" value="{{ doc.libelle }}"
                                               class="form-control">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">language :</label>
                                    <div class="col-sm-6">
                                        <input type="text" name="language" placeholder="nouvelle language"
                                               value="{{ doc.language }}" class="form-control">
                                    </div>
                                </div>
                                <div class="text-right">
                                    <button type="submit" class="btn btn-space btn-primary">Modifier</button>

                                </div>
                            </form>

                        </div>
                    </div>

                </div>
                <div id="afficher{{ i }}" class="modal">
                    <!-- Modal content -->
                    <div class="modal-content2">
                        <span class="close"><a onclick="out2({{ i }});">&times;</a></span>

                        <object type="application/PDF" width="100%" height="200%">
                            <param name="src" value="{{ doc.path }}"/>
                        </object>

                    </div>

                </div>
            {% endif %}




    {% endfor %}
    </div>
    {% endif %}
    <div id="ajout"><a id="myBtn" href="#">
            <div class="icon-container" style="background-color:transparent;">
                <div class="icon" style="    background-color:transparent;"><span class="s7-plus"></span></div>
            </div>
        </a></div>

    <!-- The Modal -->
    <div id="myModal" onclick="modal1();" class="modal">

        <!-- Modal content -->
        <div class="modal-content">
            <span id="out" class="close">&times;</span>
            <h3 id="title">Ajouter un document</h3>
            <div class="wrap">
                {{ form_start(form, {'method': 'post', 'action': path('afficher_documents',{'id': id}), 'attr': {'class': 'form-horizontal group-border-dashed','style':'border-radius: 0px;' }}) }}

                <div class="form-group">
                    <label class="col-sm-3 control-label">Nom du fichier :</label>
                    <div class="col-sm-6">
                        {{ form_widget(form.libelle,{'attr':{'class':'form-control','placeholder':'Saisir le nom du votre fichier'}}) }}
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">language :</label>
                    <div class="col-sm-6">
                        {{ form_widget(form.language,{'attr':{'class':'form-control','placeholder':'Saisir la langue du votre fichier'}}) }}
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">votre fichier :</label>
                    <div class="col-sm-6">
                        {{ form_widget(form.path,{'attr':{'class':'form-control'}}) }}
                    </div>
                </div>
                <div class="text-right">
                    <button type="submit" class="btn btn-space btn-primary">Ajouter</button>

                </div>
                {{ form_end(form) }}

            </div>
        </div>
    </div>


{% endblock %}
{% block pageName %}
    <div>


        <div class="icon-container" id="recherche-icon-container">
            <div class="icon" id="recherche-icon"><span class="s7-search"></span></div>
        </div>
        <div id="recherche-input">
            <form><input type="text" id="docName" name="docName" placeholder="taper le nom du votre document"
                         class="form-control"></form>
        </div>
    </div>

{% endblock pageName %}


{% block customScript %}
    <script>
        $("#docName").keyup(function () {
            var input = $("#docName").val();
            var all =$("#all").val();
            all++;
            if(input===""){
                for (var j=1;j<all;j++){
                    $("#"+j).show();
                }
            }else {
                for (var i=1;i<all;i++){
                    var name=$("#name"+i).text();
                    if (!(name.indexOf(input) + 1 )){

                        $("#"+i).hide();
                    }else{
                        $("#"+i).show();
                    }

                }
            }





        });


    </script>
{% endblock customScript %}