{% extends "::base.html.twig" %}

{% block pageName %}
    <h2>Les Objets {% if nature==1  %} Trouvés{% elseif nature==2  %} Perdus{% endif %}</h2>
    <ol class="breadcrumb">
        <li><a href="{{ path('objet_homepage') }}">Les Objets</a></li>
        <li class="active">Les Objets {% if nature==1  %} Trouvés{% elseif nature==2  %} Perdus{% endif %}</li>
    </ol>
{% endblock %}

{% block body %}
{% set i=0 %}
{% for objet in objet %}
{% if objet.enable==1 %}
{% if app.user.id==objet.user.id %}
{% set i=1 %}
{% endif %}
{% endif %}
{% endfor %}

    {% if x is defined and x is not null %}
        <div class="widget widget-fullwidth widget-small">
            <div class="widget-head">
                <div class="title"><h2>Nos Suggestions</h2></div>
            </div>
            <table class="table table-fw-widget">
                <thead>
                <tr>
                    <th>Photo</th>
                    <th>Date</th>
                    <th>Type</th>
                    <th>Description</th>
                    <th>Lieu</th>
                    <th></th>
                </tr>
                </thead>
                {% for x in x %}
                {% if x.enable==1 %}
                <tbody>
                <tr>
                    <td><img id="photo" src="{{ asset(x.Photo) }}"  height="120" width="120"></td>
                    <td>{{ x.date|date }}</td>
                    <td>{{ x.type }}</td>
                    <td>{{ x.description }}</td>
                    <td>{{ x.Lieu }}</td>
                    <td><button class="btn btn-alt4"><a href="{{ path("showsingle",{"id":x.id})}}" ><div class="icon" data-toggle="modal" data-target="#Modifier"><span class="s7-info" data-toggle="tooltip" data-placement="top" data-original-title="Informations"></span></div></a></button></td>
                </tr>
                </tbody>
                {% endif %}
                {% endfor %}
            </table>
        </div>
    {% endif %}
        <div class="widget widget-fullwidth widget-small">
            <div class="widget-head">
                {% if nature is defined %}
                <div class="title"><h3>La Liste Des Objets{% if nature==1  %} Trouvés{% elseif nature==2  %} Perdus{% endif %}</h3></div>
                {% endif %}
            </div>
            <div class="pull-right">
                <input type="text" class="search form-control" placeholder="Recherche">
            </div>

            <table id="table1" class="table table-striped table-hover table-fw-widget results">

                <tbody> <thead>
                <tr>
                    {#<th>User</th>#}
                <th>Photo</th>
                <th>Date</th>
                <th>Type</th>
                <th>Description</th>
                <th>Lieu</th>
                <th></th>
                <th></th>
                <th></th>
                {#<th></th>#}
            </tr>
            </thead>
            {% for objet in objet %}
               {% if objet.enable==1 %}
                {#{% set i=0 %}
                {% for interaction in interaction %}
                {% if interaction.idobjet.id==objet.id %}
                {% set i=1 %}
                {% endif %}
                {% endfor %}#}



                <tr class="odd gradeX">
                    {#<td>{{ objet.User }}</td>#}
                    <td class="photo" style="width: 15%"><img id="photo" src="{{ asset(objet.Photo) }}"  height="120" width="120"></td>
                    <td>{{ objet.Date |date }}</td>
                    <td>{{ objet.Type }}</td>
                    <td class="center">{{ objet.Description }}</td>
                    <td>{{ objet.Lieu }}</td>
                    <td><button class="btn btn-alt4"><a href="{{ path("showsingle",{"id":objet.id})}}" ><div class="icon" data-toggle="modal" data-target="#Modifier"><span class="s7-info" data-toggle="tooltip" data-placement="top" data-original-title="Informations"></span></div></a></button></td>
                    {% if objet.User.id==app.user.id  %}
                    <td align="center" id="modifier"><a href="{{ path("updateobj", { "id":objet.id }) }}" ><button class="btn btn-alt1"><div class="icon" data-toggle="modal" data-target="#Modifier"><span class="s7-note2" data-toggle="tooltip" data-placement="top" data-original-title="Modifier"></span></div></button></a></td>
                    <td align="center" id="supprimer"><a href="{{ path("deleteobj", { "id":objet.id }) }}" ><button class="btn btn-danger"><div class="icon" data-toggle="modal" data-target="#Supprimer"><span class="s7-trash" data-toggle="tooltip" data-placement="top" data-original-title="Supprimer"></span></div></button></a>      </td>
                    {% else %}
                        <td></td>
                        <td></td>
                    {% endif %}
                    {#<td>""{{ socialButtons() }}""</td>#}
                </tr>
                {% endif %}
            {% endfor %}

            </tbody>
        </table>
    </div>

{% endblock %}

{% block customScript %}

<script>

    $(".search").keyup(function () {
        var searchTerm = $(".search").val();
        var listItem = $('.results tbody').children('tr');
        var searchSplit = searchTerm.replace(/ /g, "'):containsi('")

        $.extend($.expr[':'], {
            'containsi': function (elem, i, match, array) {
                return (elem.textContent || elem.innerText || '').toLowerCase().indexOf((match[3] || "").toLowerCase()) >= 0;
            }
        });

        $(".results tbody tr").not(":containsi('" + searchSplit + "')").each(function (e) {
            $(this).hide();
        });

        $(".results tbody tr:containsi('" + searchSplit + "')").each(function (e) {
            $(this).show();
        });

    });


    $('#table1').on('click', '.device-table', function (event) {
        $(this).addClass('bg-info').siblings().removeClass('bg-info');
    });
</script>
{% endblock %}

