{% extends "::base.html.twig" %}

{% block pageName %}
    <h2>{{ msg }}</h2>
    <ol class="breadcrumb">
        <li>Les Objets</li>
        <li class="active">{{ msg }}</li>
    </ol>
{% endblock %}

{% block body %}
    {{ form_start(form) }}
<div class="row">
    <div class="col-sm-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3><b>{{ msg }}</b></h3>
            </div>
            <div class="panel-body">
                <form role="form">
                    <div class="form-group">
                        <label>Description</label>
                        {{ form_widget(form.description,{'attr':{'class':'form-control','placeholder':"Description"}}) }}
                    </div>
                    <div class="form-group">
                        <label>Date</label>
                        {{ form_widget(form.date,{'attr':{'class':'form-control','placeholder':"Date"}}) }}
                    </div>
                    <div class="form-group" >
                        <label>Type</label>
                        {{ form_widget(form.type,{'attr':{'class':'form-control','placeholder':"Type"}}) }}
                    </div>
                    <div class="form-group">
                        <label>Lieu</label>
                        {{ form_widget(form.lieu,{'attr':{'class':'form-control','placeholder':"Bloc et n°Salle Comme : B26"}}) }}
                    </div>
                    <div class="form-group">
                        <label>Photo</label>
                        {{ form_widget(form.photo) }}
                    </div>

                    <div class="text-right">
                        {{ form_end(form) }}
                    </div>
                </form>
            </div>
        </div>
    </div>

</div>
{% endblock %}
{% block customScript %}
<script>
    {% if success is defined %}
    {% if success == 1 %}
    $.gritter.add({
        title: "Erreur",
        text: "Veillez remplir tout les champs nécessaires.",
        class_name: "color alt3"
    });
    {% endif %}
    {% endif %}
</script>
{% endblock %}
