{% extends 'base.html.twig' %}

{% block body %}
<style>
    #map {
        height: 300px;
        width: 100%;
    }
    /* Optional: Makes the sample page fill the window. */


</style>

<link rel="stylesheet"  href="{{ asset('fontawesome-free-5.0.6/web-fonts-with-css/css/fa-solid.css') }}"/>
<link rel="stylesheet"  href="{{ asset('fontawesome-free-5.0.6/web-fonts-with-css/css/fa-brands.css') }}"/>
<link rel="stylesheet"  href="{{ asset('fontawesome-free-5.0.6/web-fonts-with-css/css/fa-brands.min.css') }}"/>
<link rel="stylesheet"  href="{{ asset('fontawesome-free-5.0.6/web-fonts-with-css/css/fa-regular.css') }}"/>

    {% if app.request.hasPreviousSession %}
        {% for type, messages in app.session.flashbag.all() %}
            {% for message in messages %}
                <div  class="alert alert-{{ type }}">
                    <center><strong>{{ message }}</strong></center>
                </div>
            {% endfor %}
        {% endfor %}
    {% endif %}
            {% set i=0 %}
            {% for interaction in interaction %}
                {% if interaction.idobjet.id==objet.id %}
                    {{ interaction.Statut }}
                {% endif %}
            {% endfor %}

<div class="container">
    <div class="row">
        <div class="col-md-8 col-sm-8 col-xs-12 block">
            <div class="panel panel-default">
                <img src="{{ asset( objet.Photo) }}" alt="image" style="blur(5px)"  class="img-responsive">

                <div class="panel-body">
                    <h3 class="color-1">{{ objet.Type|capitalize }}</h3>
                    <p style="width:max-content;  word-wrap: break-word">{{ objet.Description }}</p>
                </div>

            </div>
            {% if objet.User.id==app.user.id %}

            <div class="row">
                <div class="col-md-3">
                    <div class="btnArea">
                        <a href="{{ path("deleteobj", { "id":objet.id }) }}" class="btn btn-primary">Supprimer l'Objet</a>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="btnArea">
                        <a href="{{ path("updateobj", { "id":objet.id }) }}" class="btn btn-success">Modifier l'Objet</a>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="btnArea">
                        <a href="{{ path("objet_homepage")}}" class="btn btn-success">Voir La liste des Objets</a>
                    </div>
                </div>
            </div>
            {% else  %}
                <div class="row">
                <div class="col-md-3">
                    <div class="btnArea">
                        <a href="{{ path("objet_homepage")}}" class="btn btn-success">Voir La liste des Objets</a>
                    </div>
                </div>

                {% if inter is defined and inter is not null%}
                    {% if app.user.id!=inter.iduser.id %}
                    <span style="font-size: 10px">{{ inter.Statut|upper }}</span>
                        {#signaler interaction#}
                        {% if objet.nature=='Objet Trouvé' %}
                        <div class="col-md-3">
                            <div class="btnArea">
                                <a href="{{ path("signalerinteraction", { "id":objet.id })}}" class="btn btn-success">S'agit-il de votre Objet ?</a>
                            </div>
                        </div>
                        {% endif %}
                    {% else %}
                    <span style="font-size: 10px">Vous avez Déja Fait Une Réclamation</span>
                        {#supprimer interaction#}
                        <div class="col-md-3">
                            <div class="btnArea">
                                <a href="{{ path("supprimerinteraction", { "id":objet.id })}}" class="btn btn-success">Supprimer Ma Réclamation</a>
                            </div>
                        </div>
                    {% endif %}
                {% else %}
                    <div class="col-md-3">
                    <div class="btnArea">
                        <a href="{{ path("reclamer_obj", { "id":objet.id })}}" class="btn btn-success">{% if objet.nature=='Objet Trouvé' %}C'est Ton Objet?{% else %}Tu as trouvé l'objet?{% endif %}</a>
                    </div>
                    </div>
                {% endif %}
                </div>
            {% endif %}




        </div>


        <div class="col-md-4 col-sm-4 col-xs-12">

            <aside>
                <div class="rightSidebar">

                    <div class="panel panel-default">

                        <div class="panel-heading bg-color-1 border-color-1">
                            <h3 class="panel-title">Fiche de l'Objet</h3>
                        </div>
                        <div class="panel-body">
                                <ul class="media-list">
                                    <li class="media iconContet">
                                        <div class="media-left iconContent bg-color-4">
                                            <i class="fa fa-anchor" aria-hidden="true"></i>
                                        </div>
                                        <div class="media-body iconContent">
                                            <h4 class="media-heading color-4">Posté Par</h4>
                                            <p>{{ objet.User|upper }}</p>
                                        </div>
                                    </li>
                                    <li class="media iconContet">
                                        <div class="media-left iconContent bg-color-4">
                                            <i class="fa fa-anchor" aria-hidden="true"></i>
                                        </div>
                                        <div class="media-body iconContent">
                                            <h4 class="media-heading color-4">Type</h4>
                                            <p>{{ objet.Type }}</p>
                                        </div>
                                    </li>
                                    <li class="media">
                                        <div class="media-left iconContent bg-color-3">
                                            <i class="fa fa-calendar" aria-hidden="true"></i>
                                        </div>
                                        <div class="media-body iconContent">
                                            <h4 class="media-heading color-3">Lieu</h4>
                                            <p>{{ objet.Lieu }}</p>
                                        </div>

                                    </li>
                                    <li class="media">
                                        <div class="media-left iconContent bg-color-2">
                                            <i class="fa fa-calendar" aria-hidden="true"></i>
                                        </div>
                                        <div class="media-body iconContent">
                                            <h4 class="media-heading color-2">Date</h4>
                                            <p>{{ objet.Date |date ('Y-m-d H:i:s') }}</p>
                                        </div>
                                    </li>
                                    <li class="media">
                                        <div class="media-left iconContent bg-color-2">
                                            <i class="fa fa-calendar" aria-hidden="true"></i>
                                        </div>
                                        <div class="media-body iconContent">
                                            <h4 class="media-heading color-2">Statut</h4>
                                            <p> {% if inter is defined and inter is not null %}
                                                {{ inter.Statut|upper }}
                                                {% else %}
                                                PAS DE RECLAMATION POUR LE MOMENT
                                                {% endif %}
                                            </p>
                                        </div>
                                    </li>
                                    <li class="media iconContet">
                                            <div class="media-left iconContent bg-color-4">
                                                <i class="fa fa-anchor" aria-hidden="true"></i>
                                            </div>
                                            <div class="media-body iconContent">
                                                <h4 class="media-heading color-4">Partager Sur</h4>
                                                <p>{{ linkedinButton() }} {{ twitterButton() }}</p>
                                                {##}
                                            </div>
                                    </li>
                                </ul>
                        </div>
                    </div>
                </div>
            </aside>
        </div>
    </div>


</div>
{% endblock %}






