{% extends 'baseBack.html.twig' %}

{% block body %}
    <div class="col-sm-12">
        <div class="widget widget-fullwidth widget-small">
            <div class="widget-head">

                <div class="title">Evennements</div>
            </div>
            <div class="table-responsive noSwipe">
                <table class="table table-striped table-fw-widget table-hover">
                    <thead>
                    <tr>
                        <th width="20%">Photo</th>
                        <th width="20%">Titre</th>
                        <th width="25%">Description</th>
                        <th width="10%">Date Debut</th>
                        <th width="10%">Date Fin</th>
                        <th width="10%" >Lieu</th>
                        <th width="10%" class="number">Places Restantes</th>
                        <th width="10%" >Catégorie</th>
                        <th width="10%" >Action</th>
                    </tr>
                    </thead>
    {% for event in events %}
                    <tbody class="no-border-x">
                    <tr>
                        <td class="user-avatar"> <img src="{{ asset(event.photo) }}"></td>
                        <td>{{ event.titre }}</td>
                        <td>{{ event.description }}</td>
                        <td>{{ event.datedebut|date }}</td>
                        <td>{{ event.datefin|date }}</td>
                        <td>{{ event.lieu }}</td>
                        <td>{{ event.nbMax }}</td>
                        <td>{{ event.categorie }}</td>
                        <td><a href="{{ path('admin_approuver', { 'id': event.id }) }}">Approuver</a>   </td>

                    </tr>

                    </tbody>
        {% endfor %}
                </table>
            </div>
        </div>
    </div>
{% endblock %}