{% extends('@User/layout.html.twig') %}

{% block title %}
    Profile
{% endblock %}
{% block chemin %}
{% endblock %}
{% block pageName %}
{% endblock %}
{% block body %}
    <div class="main-content">
        <div class="user-profile">
            <div class="user-display">
                <div class="photo"></div>
                <div class="bottom">
                    <div  class="user-avatar"><span class="status"></span><img  src="assets/img/avatar.jpg"></div>
                    <div class="user-info">
                        <h4> {% if user is defined %}{{ user.prenom | upper }} {{ user.nom | upper }} {% endif %}</h4>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-sm-12">
                    <div class="info-block panel panel-default">
                        <div class="panel-heading">
                            <h4>About me</h4>
                        </div>
                        <div class="panel-body">
                            <table class="no-border no-strip skills">
                                <tbody class="no-border-x no-border-y">
                                <tr>
                                    <td class="item">classe:<span class="icon s7-portfolio"></span></td>
                                    <td>{{ user.classe | upper }}</td>
                                </tr>
                                <tr>
                                    <td class="item">Date de naissance:<span class="icon s7-gift"></span></td>
                                    <td>{{ user.dateNaissance | date }}</td>
                                </tr>
                                <tr>
                                    <td class="item">Telephone:<span class="icon s7-phone"></span></td>
                                    <td>{{ user.telephone | upper }}</td>
                                </tr>
                                <tr>
                                    <td class="item">Adresse:<span class="icon s7-map-marker"></span></td>
                                    <td>{{ user.adresse | upper }}</td>
                                </tr>
                                <tr>
                                    <td class="item">Sexe:<span class="icon s7-global"></span></td>
                                    <td>{{ user.sexe | upper }}</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 col-sm-6">
                    <div class="widget widget-fullwidth widget-small">
                        <div class="widget-head">
                            <div class="tools"><span class="value">124</span></div>
                            <span class="title">Project Issues</span>
                        </div>
                      </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="widget widget-calendar">
                        <div class="cal-container">
                            <div class="cal-notes"><span class="day">Friday</span><span
                                        class="date">February 9</span><span class="title">Notes<span
                                            class="icon s7-plus"></span></span>
                                <ul>
                                    <li><span class="hour">14h</span><span
                                                class="event-name">Meeting with investors</span></li>
                                    <li><span class="hour">8h</span><span class="event-name">Dentist date</span></li>
                                </ul>
                            </div>
                            <div class="cal-calendar">
                                <div class="ui-datepicker hasDatepicker" id="dp1518181758600">
                                    <div class="ui-datepicker-inline ui-datepicker ui-widget ui-widget-content ui-helper-clearfix ui-corner-all"
                                         style="display: block;">
                                        <div class="ui-datepicker-header ui-widget-header ui-helper-clearfix ui-corner-all">
                                            <a class="ui-datepicker-prev ui-corner-all" data-handler="prev"
                                               data-event="click" title="Prev"><span
                                                        class="ui-icon ui-icon-circle-triangle-w">Prev</span></a><a
                                                    class="ui-datepicker-next ui-corner-all" data-handler="next"
                                                    data-event="click" title="Next"><span
                                                        class="ui-icon ui-icon-circle-triangle-e">Next</span></a>
                                            <div class="ui-datepicker-title"><span
                                                        class="ui-datepicker-month">February</span>&nbsp;<span
                                                        class="ui-datepicker-year">2018</span></div>
                                        </div>
                                        <table class="ui-datepicker-calendar">
                                            <thead>
                                            <tr>
                                                <th scope="col" class="ui-datepicker-week-end"><span
                                                            title="Sunday">Su</span></th>
                                                <th scope="col"><span title="Monday">Mo</span></th>
                                                <th scope="col"><span title="Tuesday">Tu</span></th>
                                                <th scope="col"><span title="Wednesday">We</span></th>
                                                <th scope="col"><span title="Thursday">Th</span></th>
                                                <th scope="col"><span title="Friday">Fr</span></th>
                                                <th scope="col" class="ui-datepicker-week-end"><span
                                                            title="Saturday">Sa</span></th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr>
                                                <td class=" ui-datepicker-week-end ui-datepicker-other-month ui-datepicker-unselectable ui-state-disabled">
                                                    &nbsp;
                                                </td>
                                                <td class=" ui-datepicker-other-month ui-datepicker-unselectable ui-state-disabled">
                                                    &nbsp;
                                                </td>
                                                <td class=" ui-datepicker-other-month ui-datepicker-unselectable ui-state-disabled">
                                                    &nbsp;
                                                </td>
                                                <td class=" ui-datepicker-other-month ui-datepicker-unselectable ui-state-disabled">
                                                    &nbsp;
                                                </td>
                                                <td class=" " data-handler="selectDay" data-event="click" data-month="1"
                                                    data-year="2018"><a class="ui-state-default" href="#">1</a></td>
                                                <td class=" " data-handler="selectDay" data-event="click" data-month="1"
                                                    data-year="2018"><a class="ui-state-default" href="#">2</a></td>
                                                <td class=" ui-datepicker-week-end " data-handler="selectDay"
                                                    data-event="click" data-month="1" data-year="2018"><a
                                                            class="ui-state-default" href="#">3</a></td>
                                            </tr>
                                            <tr>
                                                <td class=" ui-datepicker-week-end " data-handler="selectDay"
                                                    data-event="click" data-month="1" data-year="2018"><a
                                                            class="ui-state-default" href="#">4</a></td>
                                                <td class=" " data-handler="selectDay" data-event="click" data-month="1"
                                                    data-year="2018"><a class="ui-state-default" href="#">5</a></td>
                                                <td class=" " data-handler="selectDay" data-event="click" data-month="1"
                                                    data-year="2018"><a class="ui-state-default" href="#">6</a></td>
                                                <td class=" " data-handler="selectDay" data-event="click" data-month="1"
                                                    data-year="2018"><a class="ui-state-default" href="#">7</a></td>
                                                <td class=" " data-handler="selectDay" data-event="click" data-month="1"
                                                    data-year="2018"><a class="ui-state-default" href="#">8</a></td>
                                                <td class=" ui-datepicker-days-cell-over  ui-datepicker-current-day ui-datepicker-today"
                                                    data-handler="selectDay" data-event="click" data-month="1"
                                                    data-year="2018"><a
                                                            class="ui-state-default ui-state-highlight ui-state-active ui-state-hover"
                                                            href="#">9</a></td>
                                                <td class=" ui-datepicker-week-end " data-handler="selectDay"
                                                    data-event="click" data-month="1" data-year="2018"><a
                                                            class="ui-state-default" href="#">10</a></td>
                                            </tr>
                                            <tr>
                                                <td class=" ui-datepicker-week-end " data-handler="selectDay"
                                                    data-event="click" data-month="1" data-year="2018"><a
                                                            class="ui-state-default" href="#">11</a></td>
                                                <td class=" " data-handler="selectDay" data-event="click" data-month="1"
                                                    data-year="2018"><a class="ui-state-default" href="#">12</a></td>
                                                <td class=" " data-handler="selectDay" data-event="click" data-month="1"
                                                    data-year="2018"><a class="ui-state-default" href="#">13</a></td>
                                                <td class=" " data-handler="selectDay" data-event="click" data-month="1"
                                                    data-year="2018"><a class="ui-state-default" href="#">14</a></td>
                                                <td class=" " data-handler="selectDay" data-event="click" data-month="1"
                                                    data-year="2018"><a class="ui-state-default" href="#">15</a></td>
                                                <td class=" " data-handler="selectDay" data-event="click" data-month="1"
                                                    data-year="2018"><a class="ui-state-default" href="#">16</a></td>
                                                <td class=" ui-datepicker-week-end " data-handler="selectDay"
                                                    data-event="click" data-month="1" data-year="2018"><a
                                                            class="ui-state-default" href="#">17</a></td>
                                            </tr>
                                            <tr>
                                                <td class=" ui-datepicker-week-end " data-handler="selectDay"
                                                    data-event="click" data-month="1" data-year="2018"><a
                                                            class="ui-state-default" href="#">18</a></td>
                                                <td class=" " data-handler="selectDay" data-event="click" data-month="1"
                                                    data-year="2018"><a class="ui-state-default" href="#">19</a></td>
                                                <td class=" " data-handler="selectDay" data-event="click" data-month="1"
                                                    data-year="2018"><a class="ui-state-default" href="#">20</a></td>
                                                <td class=" " data-handler="selectDay" data-event="click" data-month="1"
                                                    data-year="2018"><a class="ui-state-default" href="#">21</a></td>
                                                <td class=" " data-handler="selectDay" data-event="click" data-month="1"
                                                    data-year="2018"><a class="ui-state-default" href="#">22</a></td>
                                                <td class=" " data-handler="selectDay" data-event="click" data-month="1"
                                                    data-year="2018"><a class="ui-state-default" href="#">23</a></td>
                                                <td class=" ui-datepicker-week-end " data-handler="selectDay"
                                                    data-event="click" data-month="1" data-year="2018"><a
                                                            class="ui-state-default" href="#">24</a></td>
                                            </tr>
                                            <tr>
                                                <td class=" ui-datepicker-week-end " data-handler="selectDay"
                                                    data-event="click" data-month="1" data-year="2018"><a
                                                            class="ui-state-default" href="#">25</a></td>
                                                <td class=" " data-handler="selectDay" data-event="click" data-month="1"
                                                    data-year="2018"><a class="ui-state-default" href="#">26</a></td>
                                                <td class=" " data-handler="selectDay" data-event="click" data-month="1"
                                                    data-year="2018"><a class="ui-state-default" href="#">27</a></td>
                                                <td class=" " data-handler="selectDay" data-event="click" data-month="1"
                                                    data-year="2018"><a class="ui-state-default" href="#">28</a></td>
                                                <td class=" ui-datepicker-other-month ui-datepicker-unselectable ui-state-disabled">
                                                    &nbsp;
                                                </td>
                                                <td class=" ui-datepicker-other-month ui-datepicker-unselectable ui-state-disabled">
                                                    &nbsp;
                                                </td>
                                                <td class=" ui-datepicker-week-end ui-datepicker-other-month ui-datepicker-unselectable ui-state-disabled">
                                                    &nbsp;
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

{% endblock body %}
